*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(219, 235, 219); 
    height: 100vh;
    padding: 1px;
    
} 
.main{
    height: 100%;
    width:100%;
}
.top{
    height: 6%;
    width: 100%;
    background-color:#111;
    position: sticky;
}
.middle{
    width: 100%;
    background-color: #333;
    position: sticky;
    top: 0;
}
.grid-container{
    height: 100%;
    width: 100%;
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 40px;
}
.data{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 10px; 
    color: white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0%;
    display: flex;

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
} 

.grid-container > div {
    background-color: rgba(247, 237, 237, 0.8);
    text-align: center;
    padding: 5px ;
    font-size: 20px;
}
.round {
    top: 0;
    border-radius:  100px;
    position: absolute;
    right: 0px;
    background: red;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
}
a.massages{
    position: relative;
}
.img{
    border-radius: 100%;
    position: sticky;
    background-color: cornflowerblue;
    width:40px;
    height:40px;
    right: 50px;
    bottom: 40px;
    text-align: center;
}